:root {
  --blue: #0000ff;
  --blue-1: #075d7d;
  --red: #ff0000;
  --red-2: #dc143c;
  --yellow: #dcdc08;
  --green: #008000;
  --purple: #800080;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  min-width: 60px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(62%) saturate(536%)
    hue-rotate(99deg) brightness(89%) contrast(88%);
}

body {
  min-height: calc(100dvh - 100px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  background: rgba(192, 192, 192, 0.236);
  margin-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* LOADING DOT CIRCLE */
.loader-dot {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate 3.5s linear infinite;
}

.dot {
  width: 7px;
  height: 7px;
  background: var(--blue);
  border-radius: 50%;
}

.loader-dot:nth-child(1) {
  animation-delay: 0.15s;
}
.loader-dot:nth-child(2) {
  animation-delay: 0.3s;
}
.loader-dot:nth-child(3) {
  animation-delay: 0.45s;
}
.loader-dot:nth-child(4) {
  animation-delay: 0.6s;
}
.loader-dot:nth-child(5) {
  animation-delay: 0.75s;
}
.loader-dot:nth-child(6) {
  animation-delay: 0.9s;
}

@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

/* LAZY-BOUNCE */
.lazy-bounce-wrapper {
  column-gap: 10px;
}

.lazy-bounce {
  width: 15px;
  height: 15px;
  background: var(--red);
  border-radius: 50%;
  animation: lazy-bounce 1s ease-in-out infinite alternate;
}

.lazy-bounce:nth-child(1) {
  animation-delay: -0.75s;
}
.lazy-bounce:nth-child(2) {
  background: var(--yellow);
  animation-delay: -0.5s;
}
.lazy-bounce:nth-child(3) {
  background: var(--green);
  animation-delay: -0.75s;
}
.lazy-bounce:nth-child(4) {
  background: var(--blue);
  animation-delay: -0.1s;
}

@keyframes lazy-bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* DYNAMIC */
.dynamic-wrapper {
  display: flex;
  column-gap: 0.7em;
}
.dynamic {
  width: 15px;
  height: 15px;
  background: var(--purple);
  border-radius: 50%;
  animation: dynamic 0.8s ease infinite;
}

.dynamicOne {
  animation-delay: 0.3s;
}

.dynamicTwo {
  animation-delay: 0.4s;
}

.dynamicThree {
  animation-delay: 0.5s;
}

@keyframes dynamic {
  0% {
    width: 15px;
    height: 15px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

/* SPINNER */
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: var(--blue-1);
  box-shadow: inset -5px 0 0 5px currentColor;
  clip-path: polygon(
    0% 0%,
    0 67%,
    25% 66%,
    25% 25%,
    75% 25%,
    76% 62%,
    76% 61%,
    76% 61%,
    100% 61%,
    100% 0%
  );
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: inset -3px 0 0 3px currentColor;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ROTATING SQUARE */
.rotating-square {
  width: 15px;
  height: 15px;
  margin: 0.5em;
  animation: rotateSquare 1.2s infinite;
}

.rotating-squareOne {
  background: var(--red);
}

.rotating-squareTwo {
  background: var(--yellow);
}

.rotating-squareThree {
  background: var(--green);
}

@keyframes rotateSquare {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

/* SVG POLYLINE */
.svg-polyline {
  width: 50%;
}

.svg-polyline polyline {
  --stroke-length: 231px;
  --stroke-width: 4px;
  fill: none;
  stroke: var(--red-2);
  stroke-linecap: round;
  stroke-linejoin: round;
  animation:
    draw-line 2s ease-in-out 0s both,
    clear-line 2s ease-in-out 2.1s forwards infinite;
}

@keyframes draw-line {
  from {
    opacity: 0;
    stroke-dasharray: 0 var(--stroke-length);
    stroke-width: calc(var(--stroke-width) * 0.85);
  }
  10%,
  to {
    opacity: 1;
  }
  to {
    stroke-dasharray: var(--stroke-length) var(--stroke-length);
    stroke-width: var(--stroke-width);
  }
}
@keyframes clear-line {
  from {
    stroke-dashoffset: 0;
  }
  from,
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
    stroke-dashoffset: calc(var(--stroke-length) * -1);
  }
}

/* PROGRESS-BAR */
.progress-bar {
  flex-direction: column;
  row-gap: 6%;
}

.progress-bar span {
  width: 70px;
  height: 10px;
  border-radius: 15px;
  background: linear-gradient(var(--purple) 0 0) 0 / 0% no-repeat var(--yellow);
  animation: progress-bar 2.4s infinite;
}

.progress-bar span:nth-child(2) {
  animation-delay: 0.2s;
}
.progress-bar span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes progress-bar {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 0% 100%;
  }
}

/* BASIC-LOADING */
.basic-loading {
  border: 6px solid #ccc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top-color: var(--blue);
  animation: basicRotate 2s ease-in-out infinite;
}

@keyframes basicRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    /* for double circle */
    transform: rotate(-720deg);
  }
}
