*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  min-width: 60px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(62%) saturate(536%)
    hue-rotate(99deg) brightness(89%) contrast(88%);
}

body {
  min-height: calc(100dvh - 100px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* LOADING DOT CIRCLE */
.loader-dot {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate 3.5s linear infinite;
}

.dot {
  width: 7px;
  height: 7px;
  background: blue;
  border-radius: 50%;
}

.loader-dot:nth-child(1) {
  animation-delay: 0.15s;
}
.loader-dot:nth-child(2) {
  animation-delay: 0.3s;
}
.loader-dot:nth-child(3) {
  animation-delay: 0.45s;
}
.loader-dot:nth-child(4) {
  animation-delay: 0.6s;
}
.loader-dot:nth-child(5) {
  animation-delay: 0.75s;
}
.loader-dot:nth-child(6) {
  animation-delay: 0.9s;
}

@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

/* LAZY-BOUNCE */
.lazy-bounce-wrapper {
  column-gap: 10px;
}

.lazy-bounce {
  width: 15px;
  height: 15px;
  background: #ff0000;
  border-radius: 50%;
  animation: lazy-bounce 1s ease-in-out infinite alternate;
}

.lazy-bounce:nth-child(1) {
  animation-delay: -0.75s;
}
.lazy-bounce:nth-child(2) {
  background: #f4f402;
  animation-delay: -0.5s;
}
.lazy-bounce:nth-child(3) {
  background: #4de600;
  animation-delay: -0.75s;
}
.lazy-bounce:nth-child(4) {
  background: #005eff;
  animation-delay: -0.1s;
}

@keyframes lazy-bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

/* DYNAMIC */
.dynamic-wrapper {
  display: flex;
  column-gap: 0.7em;
}
.dynamic {
  width: 15px;
  height: 15px;
  background: purple;
  border-radius: 50%;
  animation: dynamic 0.8s ease infinite;
}

.dynamicOne {
  animation-delay: 0.3s;
}

.dynamicTwo {
  animation-delay: 0.4s;
}

.dynamicThree {
  animation-delay: 0.5s;
}

@keyframes dynamic {
  0% {
    width: 15px;
    height: 15px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

/* SPINNER */
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #075d7d;
  box-shadow: inset -5px 0 0 5px currentColor;
  clip-path: polygon(
    0% 0%,
    0 67%,
    25% 66%,
    25% 25%,
    75% 25%,
    76% 62%,
    76% 61%,
    76% 61%,
    100% 61%,
    100% 0%
  );
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    box-shadow: inset -3px 0 0 3px currentColor;
  }
  100% {
    transform: rotate(360deg);
  }
}
