*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  content: "";
  position: absolute;
}

:root {
  --btn-bg-color: #171b30;
  --btn-color: whitesmoke;
  --yellow: rgb(228, 195, 8);
  --red: rgb(206, 0, 34);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(14%) sepia(90%) saturate(5317%)
    hue-rotate(343deg) brightness(78%) contrast(111%);
}

body {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  background: #333;
}

.container {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  padding: 1rem;
  /* border: 2px solid #fff; */
}

.btn {
  width: 170px;
  height: 60px;
  background: var(--btn-bg-color);
  color: var(--btn-color);
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:not(.btnOne) {
  border: none;
}

.btn:hover:not(.btnOne),
.btn:focus:not(.btnOne) {
  border: none;
  outline: none;
}

/* BUTTON ONE (1)
BACKGROUND-IMAGE
 */
.btnOne {
  border-image: linear-gradient(to right, var(--yellow), var(--red)) 1;
  border-width: 0.3rem;
}

.btnOne:hover,
.btnOne:focus {
  border-image: linear-gradient(to left, var(--yellow), var(--red)) 1;
}

/* BUTTON TWO (2)
BOW-SHADOW
 */
.btnTwo {
  color: var(--btn-bg-color);
  background: var(--yellow);
  box-shadow: 0 0 5px 5px var(--red);
}
.btnTwo:hover,
.btnTwo:focus {
  box-shadow: 0 0 5px 5px rgba(206, 0, 34, 0.6);
}

/* BUTTON THREE (3)
CONIC-GRADIENT
 */
.btnThreeContainer {
  width: 150px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-image: conic-gradient(
    from var(--angle),
    var(--red),
    var(--yellow),
    var(--red)
  );
  animation: spin 1.5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btnThree {
  width: 100%;
  height: 35px;
  font-size: 0.9rem;
  transform: scale(1.1);
}

.btnThreeContainer:hover {
  animation: spin 1.5s linear infinite reverse;
}

.btnThreeContainer:hover .btnThree {
  transform: scale(1);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* BUTTON FOUR (4)
::BEFORE SLIDE
*/
.btnFour {
  background: var(--btn-bg-color);
  z-index: 1;
}

.btnFour::before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--red);
  z-index: -1;
  transition: width 0.7s ease-out;
}

.btnFour:hover::before,
.btnFour:focus::before {
  width: 100%;
}

/* BUTTON FIVE (5)
HALF SLIDE FROM BOTH SIDES
 */
.btnFive {
  z-index: 1;
}

.btnFive::before,
.btnFive::after {
  top: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--yellow);
  z-index: -1;
  transition: 0.5s linear;
}

.btnFive::after {
  top: 100%;
  background: var(--red);
}

.btnFive:hover::before,
.btnFive:focus::before {
  top: 0;
}

.btnFive:hover::after,
.btnFive:focus::after {
  top: 50%;
}

/* BUTTON SIX (6)
::BEFORE SLIDE FROM BOTTOM
*/
.btnSix {
  background: var(--red);
}

.btnSix::before {
  content: "Hovered!";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--btn-bg-color);
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.7s ease;
}

.btnSix:hover::before,
.btnSix:focus::before {
  transform: translateY(0);
}

/* BUTTON SEVEN (7)
::BEFORE AND ::AFTER SLIDE LINES
*/
.btnSeven::before,
.btnSeven::after {
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transition: 0.5s linear;
}

.btnSeven::before {
  top: 0;
  background: var(--yellow);
  transform-origin: left;
}

.btnSeven::after {
  bottom: 0;
  background: var(--red);
  transform-origin: right;
}

.btnSeven:hover::before,
.btnSeven:hover::after,
.btnSeven:focus::before,
.btnSeven:focus::after {
  transform: scaleX(1);
}

/* BUTTON EIGHT (8)
SCALE LINES
*/
.btnEight {
  color: var(--btn-bg-color);
  overflow: visible;
  background: var(--yellow);
}

.btnEight::before,
.btnEight::after {
  color: var(--btn-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.btnEight:before {
  border-top: 2px solid var(--red);
  border-bottom: 2px solid var(--red);
  opacity: 0;
  transform: scaleY(2);
}

.btnEight:after {
  content: "Hovered!";
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  z-index: -1;
}

.btnEight:hover:before,
.btnEight:focus:before {
  transform: scaleY(1.2);
  opacity: 1;
}

.btnEight:hover:after,
.btnEight:focus:after {
  transform: scale(1);
  z-index: 1;
}

/* BUTTON NINE (9)
DOUBLE COVER
 */
/* UNCOMMENT THIS LINE ⬇️ FOR ANOTHER EFFECT */
/* .btnNine {
  overflow: visible;  
} */

.btnNine::before,
.btnNine::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: 0.5s;
}

.btnNine::before {
  content: "Cover One (1)";
  background: var(--red);
}

.btnNine::after {
  content: "Cover Two (2)";
  background: var(--yellow);
  transition-delay: 0.5s;
}

.btnNine:hover::before,
.btnNine:focus::before,
.btnNine:hover::after,
.btnNine:focus::after {
  transform: rotateX(0);
}

/* BUTTON TEN (10)
CORNER ARROWS
*/
.btnTen {
  overflow: visible;
  transition: 0.3s;
}

.btnTen::before,
.btnTen::after {
  width: 13px;
  height: 13px;
  transform: scale(0);
  transition: 0.7s;
}

.btnTen::before {
  top: -5px;
  left: -5px;
  border: 3px solid var(--red);
  /* one way */
  border-right: transparent;
  border-bottom: transparent;
}

.btnTen::after {
  bottom: -5px;
  right: -5px;
  border: 3px solid var(--yellow);
  /* other way */
  border-width: 0 3px 3px 0;
}

.btnTen:hover,
.btnTen:focus {
  transform: scale(0.98);
}
.btnTen:hover::before,
.btnTen:focus::before,
.btnTen:hover::after,
.btnTen:focus::after {
  transform: scale(1.3);
}

/* BUTTON ELEVEN (11) 
BACKGROUND CHANGE
*/
.btnEleven:hover,
.btnEleven:focus {
  animation: changeBg 4s linear infinite;
}

@keyframes changeBg {
  0% {
    background: var(--red);
  }
  100% {
    background: var(--yellow);
  }
}

/* BUTTON TWELVE (12)
OPEN COVERS
*/
.btnTwelveContainer {
  position: relative;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/isolation */
  isolation: isolate;
}

.btnTwelve {
  color: var(--btn-bg-color);
  overflow: visible;
  background: transparent;
}

.btnTwelve::before,
.btnTwelve::after {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  transition: all 0.5s;
}

.btnTwelve::before {
  top: -3px;
  left: -3px;
  background: rgb(206, 0, 34, 0.7);
  transform-origin: top;
}

.btnTwelve::after {
  top: 3px;
  left: 3px;
  background: rgba(228, 195, 8, 0.7);
  transform-origin: bottom;
}

.btnTwelve:hover,
.btnTwelve:focus {
  color: var(--btn-color);
}

.btnTwelve:hover::before,
.btnTwelve:focus::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.btnTwelve:hover::after,
.btnTwelve:focus::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

/* BUTTON THIRTEEN (13)
SIMPLE TRANSLATE-X
 */
.btnThirteen:hover,
.btnThirteen:focus {
  animation: move 0.7s linear 2;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* BUTTON FOURTEEN
PULSE SHADOW
 */
.btnFourteen:hover,
.btnFourteen:focus {
  animation: pulse 1.2s ease-in 2;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 2px rgb(228, 195, 8);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(206, 0, 34);
  }
}

/* BUTTON FIFTEEN (15)
BREATHE SHADOW
*/
.btnFifteen {
  animation: breatheShadowRed 3s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

.btnFifteen:hover,
.btnFifteen:focus {
  animation: breatheShadowYellow 3s ease-in-out infinite;
}

@keyframes breatheShadowRed {
  0% {
    box-shadow: 0 0 5px rgba(206, 0, 34, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(206, 0, 34, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(206, 0, 34, 0.4);
  }
}

@keyframes breatheShadowYellow {
  0% {
    box-shadow: 0 0 5px rgba(228, 195, 8, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(228, 195, 8, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(228, 195, 8, 0.4);
  }
}
