*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --yellow: #ffb703;
  --orange: #fb8500;
  --red: #d90429;

  --bg-off: #120e16;
  --bg-top: #2b102f;
  --bg-bottom: #0f051d;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(64%) sepia(85%) saturate(1450%)
    hue-rotate(345deg) brightness(102%) contrast(105%);
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-off);
  position: relative;
}

.wire {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 60vh;
  background: #000;
  z-index: 1;
}

.bulb {
  position: relative;
  width: 100px;
  height: 100px;
  background: #444;
  border-radius: 50%;
  z-index: 2;
}

.bulb::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 100px;
  left: 22.5px;
  top: -50%;
  background: #444;
  border-top: 30px solid #000;
  border-radius: 30px;
}

/* switch btn */
.switch {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  background: linear-gradient(#eee, #ccc, #eee);
  border: 4px solid #000;
  border-radius: 15px;
  box-shadow: 0 20px 30px -10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch .btn {
  position: relative;
  width: 25px;
  height: 50px;
  background: linear-gradient(#777, var(--white), #777);
  border: 2px solid #000;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.switch .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: var(--white);
  border-radius: 7px;
}

/* js on class bulb */
body.on {
  background: linear-gradient(135deg, var(--bg-top), var(--bg-bottom));
}

body.on .bulb::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(40px);
  z-index: -1;
}

body.on .bulb::before {
  background: var(--yellow);
}

body.on .bulb {
  background: var(--yellow);
  box-shadow:
    0 0 20px var(--yellow),
    0 0 50px var(--yellow),
    0 0 90px var(--orange),
    0 0 140px var(--orange),
    0 0 200px var(--red),
    0 0 280px var(--red),
    0 0 360px rgba(217, 4, 41, 0.4);
}

/* js on class switch move*/
.on .switch .btn::before {
  top: 20%;
}

#audio {
  display: none;
}
