*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-bg-color: #171b30;
  --btn-color: whitesmoke;
  --blue: #0066ff;
  --pink: #ff32d6;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(57%) sepia(20%) saturate(6852%)
    hue-rotate(2deg) brightness(103%) contrast(103%);
}

body {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.94);
}

.container {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  /* border: 2px solid #fff; */
}

.btn {
  width: 150px;
  height: 60px;
  background: var(--btn-bg-color);
  color: var(--btn-color);
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:not(.btnOne) {
  border: none;
}

.btn:hover:not(.btnOne),
.btn:focus:not(.btnOne) {
  border: none;
  outline: none;
}

/* BUTTON ONE
BACKGROUND-IMAGE
 */
.btnOne {
  border-image: linear-gradient(to right, var(--blue), var(--pink)) 1;
  border-width: 0.3rem;
}

.btnOne:hover,
.btnOne:focus {
  border-image: linear-gradient(to left, var(--blue), var(--pink)) 1;
}

/* BUTTON TWO
BOW-SHADOW
 */
.btnTwo {
  background: var(--blue);
  box-shadow: 0 0 5px 5px var(--pink);
}
.btnTwo:hover,
.btnTwo:focus {
  box-shadow: 0 0 5px 5px rgba(255, 50, 214, 0.6);
}

/* BUTTON THREE
CONIC-GRADIENT
 */
.btnThreeContainer {
  width: 150px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-image: conic-gradient(
    from var(--angle),
    var(--pink),
    var(--blue),
    var(--pink)
  );
  animation: spin 1.5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btnThree {
  width: 100%;
  height: 35px;
  transform: scale(1.1);
}

.btnThreeContainer:hover {
  animation: spin 1.5s linear infinite reverse;
}

.btnThreeContainer:hover .btnThree {
  transform: scale(1);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* BUTTON FOUR
::BEFORE SLIDE
*/
.btnFour {
  background: var(--btn-bg-color);
  z-index: 1;
}

.btnFour::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--pink);
  z-index: -1;
  transition: width 0.7s ease-out;
}

.btnFour:hover::before,
.btnFour:focus::before {
  width: 100%;
}

/* BUTTON FIVE
HALF SLIDE FROM BOTH SIDES
 */
.btnFive {
  z-index: 1;
}

.btnFive::before,
.btnFive::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: var(--blue);
  z-index: -1;
  transition: all 0.5s linear;
}

.btnFive::after {
  top: 100%;
}

.btnFive:hover::before,
.btnFive:focus::before {
  top: 0;
}

.btnFive:hover::after,
.btnFive:focus::after {
  top: 50%;
}

/* BUTTON SIX
::BEFORE SLIDE FROM BOTTOM
*/
.btnSix {
  background: var(--pink);
}

.btnSix::before {
  content: "Hovered!";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.7s ease;
}

.btnSix:hover::before,
.btnSix:focus::before {
  transform: translateY(0);
}

/* BUTTON SEVEN
::BEFORE AND ::AFTER SLIDE LINES
*/
.btnSeven::before,
.btnSeven::after {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: 1s linear;
}

.btnSeven::before {
  top: 0;
  background: var(--blue);
  transform-origin: left;
}

.btnSeven::after {
  bottom: 0;
  background: var(--pink);
  transform-origin: right;
}

.btnSeven:hover::before,
.btnSeven:hover::after,
.btnSeven:focus::before,
.btnSeven:focus::after {
  transform: scaleX(1);
}
