* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(57%) sepia(20%) saturate(6852%)
    hue-rotate(2deg) brightness(103%) contrast(103%);
}

body {
  position: relative;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.container {
  border: 2px solid #fff;
  width: 90%;
  max-width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 3rem;
}
