@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  position: relative;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(54%) sepia(8%) saturate(6134%)
    hue-rotate(199deg) brightness(103%) contrast(101%);
}

.heading {
  font-size: 10vw;
  font-weight: 900;
  background: url(img/background.gif);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-family: "New Rocker", sans-serif;
}
