@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

:root {
  --color-glowing: aquamarine;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 50px 0;
  background: #333;
  position: relative;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  filter: brightness(0) saturate(100%) invert(54%) sepia(8%) saturate(6134%)
    hue-rotate(199deg) brightness(103%) contrast(101%);
}

.text {
  font-size: 6vw;
}

/* BACKGROUND IMAGE */
.bcgImg {
  letter-spacing: 0.3rem;
  font-weight: 900;
  background: url(img/background.gif);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-family: "New Rocker", sans-serif;
}

/* GLOWING */
.glowing {
  font-family: serif;
  color: #555;
  letter-spacing: 1rem;
}

.glowing span {
  display: table-cell;
  animation: glowing 4s linear infinite;
}

.glowing span:nth-child(1) {
  animation-delay: 0.5s;
}
.glowing span:nth-child(2) {
  animation-delay: 0.75s;
}
.glowing span:nth-child(3) {
  animation-delay: 1s;
}
.glowing span:nth-child(4) {
  animation-delay: 1.25s;
}
.glowing span:nth-child(5) {
  animation-delay: 1.5s;
}
.glowing span:nth-child(6) {
  animation-delay: 1.75s;
}
.glowing span:nth-child(7) {
  animation-delay: 2s;
}
.glowing span:nth-child(8) {
  animation-delay: 2.25s;
}
.glowing span:nth-child(9) {
  animation-delay: 2.5s;
}
.glowing span:nth-child(10) {
  animation-delay: 2.75s;
}

@keyframes glowing {
  0% {
    color: #fff;
    filter: blur(2px);
    text-shadow:
      0 0 10px var(--color-glowing),
      0 0 20px var(--color-glowing),
      0 0 40px var(--color-glowing),
      0 0 80px var(--color-glowing),
      0 0 100px var(--color-glowing);
  }

  5% {
    color: #fff;
    filter: blur(0px);
    text-shadow: none;
  }

  95% {
    color: #fff;
    filter: blur(0px);
    text-shadow: none;
  }

  100% {
    color: #fff;
    filter: blur(1px);
  }
}

/* SLIDER */
/* .slider-container {
  height: 150px;
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: monospace;
}

.slider-container span {
  position: relative;
  font-size: 100px;
  animation: slide 7s ease infinite;
}

@keyframes slide {
  0%,
  100% {
    top: 0px;
  }
  20% {
    top: 0;
  }
  25% {
    top: -120px;
  }
  45% {
    top: -120px;
  }
  50% {
    top: -250px;
  }
  70% {
    top: -250px;
  }
} */

/* WAVE */
.wave span {
  display: inline-block;
  color: lightseagreen;
  animation: wave 2s infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* COLOR CHANGE */
.color-change {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.4em;
  color: transparent;
  /* change color for another color palette animation */
  -webkit-text-stroke: 2px darkorange;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  10% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(720deg);
  }
}

/* 3D */
.threeD {
  width: 100%;
}
.cube {
  height: 60px;
  width: 100%;
  text-align: center;
  color: aquamarine;
  transform-origin: center;
  transform-style: preserve-3d;
  animation: rotate 5s infinite ease-in-out;
  position: relative;
}
.side {
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  backface-visibility: hidden;
}
.side1 {
  transform: translateZ(30px);
}
.side3 {
  transform: rotateX(180deg) translateZ(30px);
}
.side4 {
  transform: rotateX(90deg) translateZ(30px);
}
.side2 {
  transform: rotateX(-90deg) translateZ(30px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20%,
  25% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  45%,
  50% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  70%,
  75% {
    transform: rotateX(270deg) rotateY(0deg);
  }
  95%,
  100% {
    transform: rotateX(360deg) rotateY(0deg);
  }
}

/* GLITCH */
.glitch {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: lightskyblue;
  letter-spacing: 0.4rem;
  position: relative;
}

.glitch::before {
  content: "Typography";
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  z-index: -1;
  animation: glitch 1.4s linear infinite;
}

@keyframes glitch {
  0%,
  100% {
    top: 0;
    left: 0;
  }
  20% {
    top: -0.2rem;
    left: -0.2rem;
  }
  40% {
    top: 0.2rem;
    left: 0.2rem;
  }
  60% {
    top: -0.2rem;
    left: 0.2rem;
  }
  80% {
    top: 0.2rem;
    left: -0.2rem;
  }
}

/* DISAPPEAR */
.disappear {
  position: relative;
  margin: 2rem 0;
}

.disappear span {
  display: inline-block;
  color: lightseagreen;
  text-shadow: 0px 0px 0px rgb(255, 255, 255);
  animation: 6s infinite;
}

.disappear span:nth-child(1) {
  animation-name: disappearLeft;
}

.disappear span:nth-child(2) {
  animation-name: disappearLeft;
  animation-delay: 0.3s;
}

.disappear span:nth-child(2) {
  animation-name: disappearRight;
  animation-delay: 0.3s;
}

.disappear span:nth-child(3) {
  animation-name: disappearLeft;
  animation-delay: 0.6s;
}

.disappear span:nth-child(4) {
  animation-name: disappearRight;
  animation-delay: 0.8s;
}

.disappear span:nth-child(5) {
  animation-name: disappearRight;
  animation-delay: 1s;
}

.disappear span:nth-child(6) {
  animation-name: disappearRight;
  animation-delay: 1.3s;
}

.disappear span:nth-child(7) {
  animation-name: disappearLeft;
  animation-delay: 1.6s;
}

.disappear span:nth-child(8) {
  animation-name: disappearLeft;
  animation-delay: 2s;
}

.disappear span:nth-child(9) {
  animation-name: disappearRight;
  animation-delay: 2.3s;
}

.disappear span:nth-child(10) {
  animation-name: disappearRight;
  animation-delay: 2.6s;
}

@keyframes disappearLeft {
  50% {
    transform: skew(50deg) translateY(-150%);
    text-shadow: 0px 0px 50px;
    opacity: 0;
  }
}

@keyframes disappearRight {
  50% {
    transform: skew(-50deg) translateY(-150%);
    text-shadow: 0px 0px 50px;
    opacity: 0;
  }
}

@media screen and (min-width: 700px) {
  .disappear {
    margin: 150px 0 50px 0;
  }
}

/* CAROUSEL */
.carousel {
  color: darkblue;
}

.carousel::after {
  content: "";
  background: red;
  color: #fff;
  padding: 0.6rem;
  margin-left: 1rem;
  border-radius: 10px;
  animation: codingSlide 4s infinite;
}

@keyframes codingSlide {
  0%,
  100% {
    content: "fun";
  }
  50% {
    content: "hard";
  }
  65% {
    content: "weird";
  }
}
